<!-- Detalhes das postagens -->
<div class="card">
    <div class="card-body">
        <h1>{{postagens.titulo}}</h1>
        <hr>
            Data de publicação: {{postagens.data}}
        <hr>
        <p> <b> Horario de funcionamento: </b>  {{postagens.slug}} </p>
        
        <p>
            {{postagens.conteudo}}
        </p>
    </div>
</div>